.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 60px;
  justify-content: space-evenly;
}

.about img {
  width: 40%;
  max-height: 400px;
  object-fit: cover;
  object-position: 50% 50%;
  border-radius: 50%;
}

.about-text {
  text-align: center;

  h1 {
    font-size: 5rem;
    margin: 10px 0;

    span {
      background: linear-gradient(267deg, #4cbb16 0.36%, #3b82f6 102.06%);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
  }

  p {
    font-size: 1.5rem;
    margin: 10px 0;
  }
}
