.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 60px;
  position: sticky;
}

.name {
  font-size: 3rem;
  font-weight: bold;
  cursor: pointer;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 60px;
  font-size: 1.8rem;
}

.nav-menu a {
  color: white;
  text-decoration: none;
}

.nav-menu a {
  position: relative;
  display: inline-block;
}

.nav-menu a::after {
  content: "";
  position: absolute;
  height: 1.5px;
  width: 0;
  bottom: 0;
  left: 0;
  background: white;
  transition: width 0.3s;
}

.nav-menu a:hover::after {
  width: 100%;
}

.download-resume {
  color: white;
  font-size: 1.5rem;
  padding: 15px 30px;
  border-radius: 50px;
  background: linear-gradient(267deg, #4cbb16 0.36%, #3b82f6 102.06%);
  cursor: pointer;
  border: none;
  transition: 0.4s;

  &:hover {
    transform: scale(1.05);
  }
}
