.experiences {
  display: flex;
  flex-direction: column;
  margin: 30px 60px;
  align-items: right;
}
.experience-item {
  display: flex;
  margin: 15px 0px;
  height: auto;
  gap: 80px;
}

.experience-img {
  width: 40%;
  height: auto;
  max-height: 250px;
  object-position: 50% 55%;
  object-fit: contain;
  aspect-ratio: auto;
}

.experience-title {
  font-size: 3rem;
  margin-bottom: 6px;
}

.experience-role {
  font-size: 2rem;
  margin-bottom: 4px;
}
.experience-description {
  font-size: 1.3rem;
  li {
    margin-bottom: 15px;
  }
}

.experience-info {
  flex: 1;
}
